[data-bs-theme=dark] {
    --bs-body-bg: #06090f !important;
}

@media (prefers-color-scheme: dark) {
    .card {
        background-color: #0d1117 !important;
    }

    .modal-content {
        background-color: #0d1117 !important;
    }

    .table > :not(caption) > * > * {
        background-color: transparent !important;
    }
}
