* {
    touch-action: manipulation;
}

.player-wrapper {
    position: relative;
    padding-top: 222.22%; /* Player ratio: 100 / (576 / 1280) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

#continuityButton {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer.btn-dark:hover {
    background-color: #212529;
}

.answer.btn-light:hover {
    background-color: #f8f9fa;
}